@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

body {
    margin: 0;
    font-size:16px;
    font-family: 'Lato',verdana, sans-serif;
    font-weight: bold;
    color: #0b495e;
    text-align:center;
    background:#f9f8f6;
    background-image: url("gfx/bg-page.png");
}

.header {
    height:45px;
    text-align: left;
    background-image: url("gfx/bg-header.png");
    border:0px;
    width:100%;
    margin:0px auto;
}

.box {
  margin: 0px  auto;
  padding: 10px;
  width: 50%;
  border: 1px solid #bbd9e4;
  background: #fff;
  box-shadow: 0px 2px 3px #cbd8dc;
  border-radius: 10px;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 80px;
  color: #394859;
  margin: 10px;
  font-style: italic;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

h2 {
  font-size: 40px;
  color: #394859;
  margin: 5px;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

.playertwo {
    display:none;
}

.board {
      margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
}

.square {
    float:left;
    position: relative;
    width: 30%;
    margin: 1.5%;
  border-color: #ccc;
  background-color: #c5edf9;
  border-radius: 6px;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.square:hover {
    background-color: #fff;
}

.showX {
    background-image: url('gfx/x.png');
    position: relative;
    width: 100%;
}

#footer {
  width:100%;
  height:45px;
  position:absolute;
  bottom:0;
  left:0;
  background:#394859;
}

.content .scale{
    width: auto;
    height: auto;
    max-height:90%;
    max-width:90%;
}

input[type="text"]
{
    background-color: #fff;
    font-size: 16px;
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 6px;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

.btn {
  background: #05aee9;
  background-image: -webkit-linear-gradient(top, #05aee9, #2980b9);
  background-image: -moz-linear-gradient(top, #05aee9, #2980b9);
  background-image: -ms-linear-gradient(top, #05aee9, #2980b9);
  background-image: -o-linear-gradient(top, #05aee9, #2980b9);
  background-image: linear-gradient(to bottom, #05aee9, #2980b9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Lato;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border: 1px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 15px;
  width: 300px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}